body {
    background-image: url('https://img.freepik.com/premium-photo/2022-calendar-page-blue-background-business-planning-appointment-meeting-concept_293060-5815.jpg?w=2000');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
                            
}

h1 {
    color:black;
    text-align: center;
    font-family: 'Lucida Sans';
}


main, header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.form-container {
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    border: solid grey 2px;
    border-radius: 5px;
    padding: 15px

}

.form-container form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table {
    background-color: aliceblue;
}