{% extends "base.html"%}

{% block main %}
<div>
    <table class="table table-hover">
        <th>Team Name</th>
            {% for team in teams %}
            <tr>
                <td>{{ team.team_name }}</td>
                <td>
                    <a href="{{ url_for("update_team", team_id = team.id) }}">
                        <button type="button" class="btn btn-outline-primary">Update</button>
                    </a>
                    <a href="{{ url_for("delete_team", team_id = team.id) }}">
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </a>    
                </td>
            </tr>
            {% endfor %}
        </table>                        








</div>
{% endblock %}